
.container {
    height: auto;
    align-items: center;
    align-items: center;
    justify-content: center;
}
form {
    margin-left: auto;
    margin-right: auto;
    width:40%;
    border-radius: 1px solid red;
    padding: 10px;
    background-color: grey;
}

div {
    padding: 5px;
    background-color: rgb(182, 180, 180);
    height: 48px;

}

ul {
    padding: inherit;
    display: block;
}

li {
    justify-content: start;
    font-size: large;
    display: list-item;
    padding: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 50px;
    list-style-type: none;
    background-color: rgb(142, 255, 249);
    border-top: 3px solid rgb(138, 138, 138);
    
}
 li .btn {
    float: right;
    justify-self: end;
 }
input {
    width: 95%;
}
.btn {
    width: 100%;
    padding: 5px;
    
}

.delete {
    background-color:red;
    width: 25px;
    height: 25px;
    margin: 2px 5px;
    border-radius: 5px;
    align-self: end;
}
.error{
    background-color: orange;
    color: #fff;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
}